{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [0],
    // Indent with 4 spaces
    "indent": ["error", 2],
    // Indent JSX with 4 spaces
    "react/jsx-indent": ["error", 2],
    // Indent props with 4 spaces
    "react/jsx-indent-props": ["error", 2]
  }
}
