.menu {
  &__wrapper {
    padding: 24px !important;
    height: 100px !important;
    background-color: #001529;
  }
  &__container {
    margin: 0 100px;
    max-width: 600px;
    &-logo img {
      margin-top: -10px;
      width: 70px;
      height: auto;
      float: left;
      margin-right: 100px;
    }
  }
}
