.container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  &__content {
    width: 400px !important;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    cursor: pointer;
    transition: box-shadow 0.3s;

    p {
      font-size: 16px;
    }
  }
  &__content:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
